@tailwind base;
/* Firefox */
:root {
  --primary: transparent;
  --secondary: white;
}
* {
  scrollbar-width:thin;
  scrollbar-highlight-color: red;
  scrollbar-color: var(--secondary) var(--primary);
}

@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Moon';
  font-weight: bold;
  src: local('Moon'), url(/fonts/Moon2.0-Bold.otf) format('opentype');
}
